@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


body{
    background-color: hsl(217, 54%, 11%);

font-family: 'Outfit', sans-serif;
   
}
.group{
    margin:245px;
}
.container1{
    position: relative;
    bottom: 250px;
    display:flex;
    justify-content: space-evenly;
    
}
.container2{
    position: relative;
    bottom: 285px;
    display:flex;
    justify-content: space-evenly;
    
}
.box1{
    margin: 5px;
    width:260px;
    height: 410px;
    background-color:hsl(216, 50%, 16%);
    margin-top: 110px;
    border-radius: 10px;
}
    .img1{
        width:190px;
        margin-left: 35px;
        margin-top: 30px;
        border-radius: 10px;
       
    }
    .img2{
        width:9px;
        margin-left: 35px;
       
    }
    .img3{
        width:13px;
        margin-left: 35px;
        position: relative;
        left: 125px;
        bottom:60px;
      
    }
    .img4{
        width:25px;
        margin-left: 35px;
        position: relative;
        bottom:85px;
        border: 1px solid white;
        border-radius: 50%;
      
        
    }
    .p1{
        margin-left: 35px;
        color:  hsl(0, 0%, 100%);
       
        
    }
    .p2{
        margin-left: 35px;
        color: hsl(215, 51%, 70%);
        font-size: 12px;
        
    }.p3{
        margin-left: 35px;
        color: hsl(178, 100%, 50%);
        position: relative;
        left: 20px;
        bottom:30px;
        font-size: 12px;
        
    }.p4{
        margin-left: 35px;
        color: hsl(215, 51%, 70%);
        position: relative;
        left: 145px;
        bottom:90px;
        font-size: 12px;
        
      
    }
    .p5{
        margin-left: 35px;
        color: hsl(215, 51%, 70%);
        position: relative;
       left: 34px;
        bottom:122px;
        font-size: 12px;
      
        
    }
    .p6{
        margin-left: 35px;
        color:  hsl(0, 0%, 100%);
        position: relative;
        left: 102px;
        bottom:149px;
        font-size: 12px;
       
      
        
    }
    .hr1{
        width:230px;
        
        position: relative;
        border: 1px solid  hsl(215, 51%, 70%); 
        opacity: 0.2;
        bottom:90px;

    }
    